ADB_AUTOMATION_DB_HOST=localhost
ADB_AUTOMATION_DB_PORT=3306
ADB_AUTOMATION_DB_USER=root
ADB_AUTOMATION_DB_PASSWORD=
ADB_AUTOMATION_DB_NAME=adb_automation
ADB_AUTOMATION_LEASE_SECONDS=600
ADB_AUTOMATION_API_KEY=
ADB_AUTOMATION_API_HOST=0.0.0.0
ADB_AUTOMATION_API_PORT=5000
ADB_AUTOMATION_APPIUM_SERVER=http://127.0.0.1:4723
ADB_AUTOMATION_QUEUE_WORKERS=
ADB_AUTOMATION_QUEUE_POLL_SECONDS=1
